* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}